<h2>Sign up</h2>
  <%= render 'devise/shared/login_header' %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :firstname, label: 'First Name' %>
        <%= f.input :lastname, label: 'Last Name' %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :phone %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :identification_number, label: 'ID Number' %>
        <%= f.input :secondary_id_number, label: 'Secondary ID Number' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  <%= render 'devise/shared/login_footer' %>
