<h1>Profile</h1>


<h2> <%= @user.firstname%> <h2>
    <br>
    <br>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Phone:</strong> <%= @user.phone %></p>
<p><strong>Address:</strong> <%= @user.address %></p>
<p><strong>City:</strong> <%= @user.city %></p>
<p><strong>State:</strong> <%= @user.state %></p>
<p><strong>ID Number:</strong> <%= @user.identification_number %></p>
<p><strong>Secondary ID Number:</strong> <%= @user.secondary_id_number %></p>